h1 {
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

table {
    border: 2px solid blue;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: #03fce8;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(201, 209, 245);
}

.code {
    font-family: monospace;
    background-color: beige;
}

td {
    border-top: 1px solid blue;
}
